{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Горизонт</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>
<nav id="menu-mob">
    <div id="in-menu-mob">
            <span>
                <a href="#"
                   style="background-color: black; padding: 10px; border-radius: 15px; text-decoration: none;"
                   class="choose-city">{{ city.title }}
                </a>
                <button class="right-header-mob" style="width: 30px;">
                    <img src="{% static 'img/icons/exit_white.png' %}">
                </button>
            </span>
        <a href="{% url 'home' %}">Главная</a>
    </div>
</nav>
<nav class="cities">
    <div class="in-menu-cities">
        <span>

            <button class="choose-city" style="width: 30px; display: block;
    height: 30px;
    width: 30px;
    background: none; align-self: flex-end;">
                <img src="{% static 'img/icons/exit_white.png' %}">
            </button>
            {% for item in offers %}
            <a href="{% url 'city' item.city.id %}">{{ item.city.title }}</a>
            {% endfor %}
        </span>

    </div>
</nav>
<header id="header-full-black">
    <div class="container-my">
        <div id="container-header">
            <span id="left-header"><a href="{% url 'home' %}" id="logo-header">КРУГОЗОР</a></span>
            <span id="right-header">
                        <a href="{% url 'home' %}">Главная</a>
                        <a href="#"
                           style="background-color: black; padding: 10px; border-radius: 15px; text-decoration: none;"
                           class="choose-city">{{ offers_get.city.title }}</a>
                    </span>
            <button class="right-header-mob">
                <img src="{% static 'img/icons/hamburger_white.png' %}">
            </button>
        </div>
    </div>
</header>
<section id="intro-content">
    <div class="container-my">
        <div id="container-intro-content">
            <div id="img-intro" style="background-image: url({{ offers_get.picture.url }})"></div>
            <div id="about-content" style="max-width: 480px;">
                <h1 id="name-content">{{ offers_get.title }}</h1>
                <div id="time-work">Время работы: {{ offers_get.work_time }}</div>
<!--                <div id="reyting">Оценка пользователей: 4.5 <img src="{% static 'img/icons/star.png' %}"></div>-->
                <div id="phone">Номер: +{{ offers_get.phone_num }}</div>
                <div id="adres">Адрес: {{ offers_get.address }}</div>
            </div>
        </div>
    </div>
</section>
<section id="description">
    <div class="container-my">
        <div id="name-sect-comment">Описание</div>
        <div id="content-description">
            {{ offers_get.description }}
        </div>
        <iframe
                src="{{ offers_get.map_link }}"
                width="100%" height="400" frameborder="0"></iframe>
    </div>
</section>

<!--<section id="comment-sect">-->
<!--    <div class="container-my">-->
<!--        <div id="name-sect-comment">Отзывы</div>-->
<!--        <div id="write-comment">-->
<!--            <div class="form-floating">-->
<!--                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>-->
<!--                <label for="floatingTextarea">Коментарий</label>-->
<!--            </div>-->
<!--            <select class="form-select" aria-label="Default select example">-->
<!--                <option selected>Оценка</option>-->
<!--                <option value="1">1 звезда</option>-->
<!--                <option value="2">2 звезды</option>-->
<!--                <option value="3">3 звезды</option>-->
<!--                <option value="4">4 звезды</option>-->
<!--                <option value="5">5 звезд</option>-->
<!--            </select>-->
<!--            <div id="send-comment">-->
<!--                <button type="button" class="btn btn-primary">Отправить</button>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="comment">-->
<!--            <div class="content-comment">-->
<!--                <img src="{% static 'img/icons/photo_2023-03-20_00-19-28.jpg' %}" class="img-person">-->
<!--                <div class="about-comment">-->
<!--                    <div class="name-person-comment">Альберт Енакентьевич</div>-->
<!--                    <div class="reyting-comment">5 <img src="{% static 'img/icons/star.png' %}"></div>-->
<!--                    <div class="text-comment">-->
<!--                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati veniam iure quam sint-->
<!--                            unde placeat optio fugit iusto labore consequuntur. Magnam hic cupiditate corrupti-->
<!--                            debitis illo velit atque. Quo, nam architecto vero iusto aspernatur similique dicta-->
<!--                            illum veniam mollitia, inventore cupiditate assumenda veritatis recusandae delectus-->
<!--                            exercitationem enim iure unde quidem?</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="comment">-->
<!--            <div class="content-comment">-->
<!--                <img src="{% static 'img/icons/photo_2023-03-20_00-19-28.jpg' %}" class="img-person">-->
<!--                <div class="about-comment">-->
<!--                    <div class="name-person-comment">Альберт Енакентьевич</div>-->
<!--                    <div class="reyting-comment">5 <img src="{% static 'img/icons/star.png' %}"></div>-->
<!--                    <div class="text-comment">-->
<!--                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati veniam iure quam sint-->
<!--                            unde placeat optio fugit iusto labore consequuntur. Magnam hic cupiditate corrupti-->
<!--                            debitis illo velit atque. Quo, nam architecto vero iusto aspernatur similique dicta-->
<!--                            illum veniam mollitia, inventore cupiditate assumenda veritatis recusandae delectus-->
<!--                            exercitationem enim iure unde quidem?</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->


<!--    </div>-->
<!--</section>-->

<footer>
    <div class="container-my">
        <div id="container-footer">
            <a href="{% url 'home' %}" id="logo-footer">КРУГОЗОР</a>
        </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
</script>
</body>

</html>

